.card_apartment_block {
    position: relative; /* Ustawienie kontenera karty na pozycję względną */
    height: 280px;
    min-height: 100%;
    width: 280px;
    min-width: 345px;
    background-color: rgb(255, 255, 255);
  }
  
  .photo_card_template {
    height: 280px;
    width: 100%;
    z-index: 0;
    border-radius: 15px;
  }
  
  .down_blue_block {
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #3C4E67;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 70px; 
    z-index: 1; 
    background: linear-gradient(to right, #3C4E67, rgba(60, 78, 103, 0.75));
  }
  .Tekst_gorny{
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding-left: 2%;
    padding-top: 2%;
}
.Tekst_dolny{
    color:white;
    font-weight: 500;
    font-size: 16px;
    padding-top: 0%;
    padding-left: 2%;
    padding-bottom: 1%;
}
.card_apartment_calosc{
  padding-right: 20px;
  cursor: pointer;
}