/flask-server/__pycache__
/flask-server/migrations
/flask-server/database_stuff/__pycache__
/flask-server/database_stuff/migrations
/flask-server/database_stuff/__pycache__
/flask-server/database_stuff/__pycache__
*.pyc
*.pyc
ca.pem
haslo.txt
