.item{
    width: 22%;
    height: 40vh;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    
}
.zdjecie-props{
    width: 100%;
    height: 80%;
    border-radius: 3px;
}
.item-opis{
    width: 20%;
    position: absolute;
    background: linear-gradient(to right, rgba(61, 79, 103,1),rgba(61, 79, 103,1),rgba(255,255,255,0));
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.item-opis-adres{
    width: 100%;
}
.item-opis-reszta{

}
p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
sup{
    font-size: 20px;
}