@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Postcard_div{
    display: block;
    justify-content: center;
    align-items: center;
    
}
.wyszukaj{
    background-color: red;
    min-height: 15vh;
    min-width: 60vh;
    position: absolute;
    top: 200px;
    left: 100px;
    width: 200px;
    max-height: 50px;
    z-index: 500; 
}

.kontener_bg_photo{
   padding-top: 3vh;
   
   position:relative;
   width: 100%;
   min-height:850px;

}
.main_bg{
    width: 100%;
    position:relative;
    height: auto;
    height: 100%;
    min-height: 500px;
    
}
.white_bg_first_page{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 44%; 
    margin-bottom: 0.7%;
}


.oddziel-to{
    background-color: #717171;
    height: 20rem;
}
