.login-all{
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 100vh; /* Możesz dostosować wysokość */
    background: rgba(10,10,10,0.8);
}
.login-photo{
    background-image: url('../../../assets/dom_login.png');
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.login-container{
    background-color: white;
    width: 800px;
    height: 700px; /* Wykorzystanie wysokości kontenera */
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    border-radius: 10px;
}
.login-container-login{
    background-color: white;
    width: 800px;
    height: 500px; /* Wykorzystanie wysokości kontenera */
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    border-radius: 10px;
}
.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.login-wybor{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    background-color: #b9b9b9;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 35px;
    
}
.login-wybor-div{
    text-align: center;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    font-size: 24px;
    padding-bottom: 5; 
    
}
.granat{
    background-color: #3e4f67;
    color: white;
}

.input{
    height: 70px; /* Zmieniamy wysokość na auto */
    width: 400px;
    display: flex;
    flex-direction: column; /* Ustawiamy kolumnowy układ flexbox */
    align-items: center;
    
    
}
.input input{
    margin-left: 5%;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid 3e4f67;
    font-size: 20px;
    padding-left: 10px;
}
.login-form{
    width: 100%;
}
.submits{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.submit{
    border: 4px solid #3e4f67;
    background-color: white;
}
.but-czysc{
    color: #3e4f67;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.but-logrej{
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3e4f67;
    height: 100%;
    font-size: px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 200px;
    height: 50px;
}
button{
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    
}
.forgot-password{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}
.forgot-password span{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
.but-logrej:hover{
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #374967;
    height: 100%;
    font-size: px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.but-logrej:active{
    color: white;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5a77a9;
    height: 100%;
    font-size: px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.forgot-password1 {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px; /* Dodajemy trochę przestrzeni nad tekstem */
    color: #504e4e; 
    
  }
.input {
    position: relative;
  }
  
.input label {
position: absolute;
top: -45px; /* Odległość etykiety nad polem input */
left: 20px; /* Odległość etykiety od lewej krawędzi pola input */
font-size: 12px; /* Mniejsza czcionka dla etykiety */
color: #000000; /* Kolor tekstu etykiety */
padding-bottom: 0px;
margin-left: 8%;
margin-top: 6%;
font-size: 14px;
font-weight: 600;
}
