.modal-overlay {
  position: fixed; /* Ustawia pozycję na stałą względem okna przeglądarki */
  top: 0;
  left: 0;
  width: 100%; /* Szerokość na 100% okna */
  height: 100%; /* Wysokość na 100% okna */
  background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
  display: flex; /* Użycie flexbox do wyśrodkowania zawartości */
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
  z-index: 1000; /* Wysoki z-index, aby element był nad innymi */
}

  
  .modal {
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    size: 20px;
    min-width: 800px;
    z-index: 1000;
  }
  
  .modal-header {
    margin-bottom: 10px;
    font-weight: 900;
  }
  
  .modal-body {
    margin-bottom: 20px;
    font-weight: 500;
    color: #000000;
    
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    min-width: 800px;
    
  }
  
  .modal-footer {
    text-align: right;
    font-weight: 600;
  }
  