.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    size: 20px;
  }
  
  .modal-header {
    margin-bottom: 10px;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-footer {
    text-align: right;
  }
  