.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner {
  width: 300px;
  margin: 20px;
}

.popup-window-edit-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.popup-window-edit-data label {
  margin-bottom: 10px;
  font-weight: bold;
}

.popup-window--edit-data-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.button-popupWindow-Edit {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-popupWindow-Edit:hover {
  background-color: #3e8e41;
}

.button-popupWindow-Edit +.button-popupWindow-Edit {
  margin-left: 10px;
}