.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup_inner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Adjust the width to make it smaller */
  height: 70%; /* Adjust the height to make it smaller */
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-window-company-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popup-window--company-data-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-popupWindow-Company {
  margin-top: 10px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-popupWindow-Company:hover {
  background-color: #0056b3;
}
