.container{
  display:flex;
  flex-direction: column;
  padding-top: 14vh;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
  grid-gap: 20px;
  align-items: start;
  font-size: 5vh;
  margin-inline: 5vh;
}

.profile-form{
  display: flex;
  flex-direction: column;
  padding-inline: 2vh;
}

.profile-form-label{
  text-align: left;
  font-size: 3vh;
  width: 100%;
  font-family: 'Poppins', 'sans-serif';
}

.profile-input{
  width: 40vh;
  margin: 1vh 0;
  font-size: 3vh;
}

.Edit{
  align-self: flex-end;
}

.profile-button-style{
  background-color: #53708e;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem; /* default font size */
  margin-bottom: 10px;
  width: 80%;
  transition: background-color 0.3s ease;
    /* responsive width */
    @media (max-width: 480px) {
      font-size: 0.4rem; /* smaller font size for small screens */
      width: 100%; /* full width for small screens */
    }
    @media (min-width: 768px) {
      font-size: 0.6rem; /* larger font size for medium screens */
      width: 90%; /* 90% width for medium screens */
    }
    @media (min-width: 1200px) {
      font-size: 0.8rem; /* even larger font size for large screens */
      width: 80%; /* 80% width for large screens */
    }
  }

  .profile-button-style:hover {
    background-color: #405d6a; /* Change to the color you want when hovered */
  }
  
  /* Increase space between buttons */
  .profile-button-style + .profile-button-style {
    margin-top: 20px; /* Adjust this value to your liking */
  }


.content-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the buttons horizontally */
  justify-content: center; /* centers the buttons vertically */
  height: 100vh;
}

.third-column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.przycisk{
  top:100px;
  margin-left: 50px;
  margin-bottom: 5px;
}