<h3>Please fill up the form in order add property!</h3>
<form action="#", method="post">
    <p>title:</p>
    <p><input type="text" name="tit"/></p>
    <p>price:</p>
    <p><input type="text" name="pc"/></p>
    <p>square_metrage:</p>
    <p><input type="text" name="sqm"/></p>
    <p>finishing_standard :</p>
    <p><input type="text" name="fs"/></p>
    <p>condition :</p>
    <p><input type="text" name="cond"/></p>
    <p>market :</p>
    <p><input type="text" name="mark"/></p>
    <p>publication_date :</p>
    <p><input type="text" name="pdate"/></p>
    <p>p_p_meter :</p>
    <p><input type="text" name="ppm"/></p>
    <label for="type">Sponsored</label>
    <select id="type" name="user_type">
        <option value="1">Tak</option>
        <option selected value="0">Nie</option>
    </select>
    <p><input type="submit" value="submit"/></p>
</form>  