.results-container {
  padding-top: 50px;
  padding-left: 10px;
  display: flex;
  background-color: brown;
  height: 100vh; /* Wysokość na pełny ekran */
}
.gorny_tekst{
  background-color: blue;
  padding-top: 120px;
  padding-left: 10px;
  width: 100%;
  font-weight: 600;

}