.button-back {
    display: inline-flex;
   
    padding: 2px 15px;
    border: 3px solid #3e4f67;
    border-radius: 10px;
    color: #3e4f67;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button-back:hover {
    background-color: #3e4f67;
    color: white;
  }
  
  .button-back-icon {
    margin-right: 5px;
    
    font-size: 20px;
  }
  