
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #374967;
    padding: 13px 2%;
    color:white;
    text-shadow: black;
    position: fixed;
    z-index:1000;
    max-height: min-content;


}
.logo{
    margin-top: 3%;
    width: 300px;
    cursor: pointer;
   
}
.ul{
    flex: 1;
    list-style: none;
    align-items:right;
    text-decoration: none;
}

ul li{
    display:inline-block;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.navbar_text:hover{
    color:rgb(236, 236, 236);
}
.ogloszenie{
    margin-left:1%;
    margin-right:0%;
    width: 100px;
    cursor: pointer;
    /* tutaj nie uzyte zdjecie*/
}


.DodajOgloszenie{
    
    border: 3px solid white;
    border-radius: 1cap;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right: 10px;
    
    
    
}
.DodajOgloszenie:hover{
    color:#ff8c00;
    border: 3px solid #ff8c00;
    background-color:#374967;
    
}

a{ 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: none;

}
a:hover{
    color:rgb(236, 236, 236);
}

